Repository IAmJonoBo/mimic, changes with the labels that .github/labeler.yml gives for each.
All labels: area:docs, area:tokens, area:design-system, area:ci, area:mobile, area:web, area:desktop

.github/labeler.yml:

# Automatically label PRs based on changed files
# Docs: https://github.com/actions/labeler

area:docs:
  - docs/**

area:tokens:
  - packages/design-tokens/**

area:design-system:
  - packages/design-system/**

area:ci:
  - .github/workflows/**

area:mobile:
  - apps/mobile/**

area:web:
  - apps/web/**

area:desktop:
  - apps/desktop/**

chore: format README files for improved readability
  apps/desktop/README.md
  docs/CONTROL_DOCUMENT.md
  packages/design-tokens/README.md
  packages/tokens-core/README.md
  packages/tokens-outputs/README.md
Labels: area:docs, area:tokens, area:desktop

chore: refresh sprint plan
  apps/desktop/package.json
  apps/mobile/package.json
  apps/web/package.json
  packages/design-system/package.json
  packages/design-tokens/package.json
  packages/shared-utils/package.json
  pnpm-lock.yaml
Labels: area:tokens, area:design-system, area:mobile, area:web, area:desktop

chore: update CLI version to 1.25.0 and plugin reference to v1.7.2
  .trunk/trunk.yaml
Labels: none

chore: update markdown linting configuration and automate Penpot image upgrades
  .github/workflows/docs-validation.yml
  .github/workflows/penpot-upgrade.yml
  .markdownlint-cli2.jsonc
  Makefile
  docs/PENPOT_WORKFLOW_GUIDE.md
  infra/containers/devcontainer/docker-compose.yml
  package.json
  scripts/update-penpot-images.mjs
Labels: area:docs, area:ci

chore: update renovate configuration to enhance dependency management
  renovate.json
Labels: none

chore: align runtime baselines to node 22.20
  CONTRIBUTING.md
  DEVELOPMENT.md
  Next_Steps.md
  README.md
  docs/CODE_QUALITY_PROTOCOL.md
  docs/DOCUMENTATION_PARITY_COMPLETE.md
  docs/IMPLEMENTATION_GUIDE.md
  docs/IMPLEMENTATION_PLAN_2.0.md
  docs/SPRINT_PLAN.md
  docs/TROUBLESHOOTING.md
  infra/containers/devcontainer/Dockerfile
  package.json
  setup.sh
Labels: area:docs

chore: harden offline build tooling and dependency automation
  CONTRIBUTING.md
  DEVELOPMENT.md
  Next_Steps.md
  README.md
  apps/desktop/project.json
  biome.json
  docs/CODE_QUALITY_PROTOCOL.md
  docs/DEPENDENCY_AUTOMATION_PLAN.md
  docs/DOCUMENTATION_PARITY_COMPLETE.md
  docs/IMPLEMENTATION_GUIDE.md
  docs/IMPLEMENTATION_PLAN_2.0.md
  docs/SPRINT_PLAN.md
  docs/TROUBLESHOOTING.md
  infra/containers/devcontainer/Dockerfile
  nx.json
  package.json
  pnpm-lock.yaml
  project.json
  renovate.json
  scripts/setup-dx.sh
  setup.sh
  tools/dev-runner.js
Labels: area:docs, area:desktop

docs: add dependency matrix and sprint prerequisites
  Next_Steps.md
  docs/IMPLEMENTATION_PLAN_2.0.md
  docs/README.md
  docs/SPRINT_PLAN.md
Labels: area:docs

fix: resolve lint warnings and provision rust toolchains
  .github/workflows/token-export.yml
  .github/workflows/token-sync.yml
  Next_Steps.md
  apps/desktop/src/main.ts
  apps/mobile/src/App.tsx
  apps/mobile/src/components/ButtonDemo.tsx
  apps/mobile/src/components/TokenDemo.tsx
  apps/mobile/src/theme/ThemeProvider.tsx
  apps/web/src/components/simple-token-demo.tsx
  apps/web/src/components/token-demo.tsx
  docs/IMPLEMENTATION_PLAN_2.0.md
  docs/README.md
  docs/SPRINT_PLAN.md
  packages/shared-utils/src/collision-prevention.ts
Labels: area:docs, area:ci, area:mobile, area:web, area:desktop

docs: refresh cross-squad next steps ledger
  Next_Steps.md
Labels: none

docs: harden planning ledger quality gates
  Next_Steps.md
Labels: none

docs: log automation audit blockers
  Next_Steps.md
Labels: none

chore(config): hydrate pnpm wheelhouse
  .github/copilot-instructions.yml
  Next_Steps.md
  infra/containers/devcontainer/Dockerfile
  infra/containers/devcontainer/README.md
Labels: none

chore: document nx runtime crash diagnostics
  .github/copilot-instructions.yml
  Next_Steps.md
  infra/containers/devcontainer/Dockerfile
  infra/containers/devcontainer/README.md
  infra/troubleshooting/2025-10-11-nx-runtime-crash.md
Labels: none

build: force nx js fallback for automation
  .github/copilot-instructions.yml
  .markdownlint-cli2.jsonc
  Next_Steps.md
  infra/containers/devcontainer/Dockerfile
  infra/containers/devcontainer/README.md
  infra/troubleshooting/2025-10-11-nx-runtime-crash.md
Labels: none

build: reroute workspace lint to cli fallbacks
  .github/copilot-instructions.yml
  .markdownlint-cli2.jsonc
  Next_Steps.md
  infra/containers/devcontainer/Dockerfile
  infra/containers/devcontainer/README.md
  infra/troubleshooting/2025-10-11-nx-runtime-crash.md
  package.json
Labels: none

build: replace nx typecheck gate with tsc runner
  .github/copilot-instructions.yml
  .markdownlint-cli2.jsonc
  CONTRIBUTING.md
  DEVELOPMENT.md
  Next_Steps.md
  apps/desktop/package.json
  apps/desktop/tsconfig.json
  apps/mobile/package.json
  apps/mobile/src/components/TokenDemo.tsx
  apps/mobile/src/theme/ThemeProvider.tsx
  apps/mobile/tsconfig.json
  apps/web/package.json
  docs/PR_PROCESS.md
  infra/containers/devcontainer/Dockerfile
  infra/containers/devcontainer/README.md
  infra/troubleshooting/2025-10-11-nx-runtime-crash.md
  package.json
  packages/design-tokens/package.json
  packages/platform-bridges/package.json
  packages/platform-bridges/tsconfig.json
  packages/tokens-core/package.json
  packages/ui-adapters/package.json
  packages/ui-adapters/tsconfig.json
  packages/ui-kernel/package.json
  packages/ui-kernel/tsconfig.json
Labels: area:docs, area:tokens, area:mobile, area:web, area:desktop

docs: align typecheck gate guidance
  .github/pull_request_template.md
  Next_Steps.md
Labels: none

build: drop deprecated typescript ignore flag
  .github/pull_request_template.md
  Next_Steps.md
  apps/desktop/tsconfig.json
  tsconfig.json
Labels: area:desktop

chore: align pnpm baseline to 10.18.2
  CHANGELOG.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  Next_Steps.md
  QUICK_REFERENCE.md
  README.md
  UPGRADE_2025.md
  docs/IMPLEMENTATION_GUIDE.md
  docs/IMPLEMENTATION_PLAN_2.0.md
  docs/SPRINT_PLAN.md
  docs/TROUBLESHOOTING.md
  docs/devops/TOOLCHAIN_UPGRADE_PLAYBOOK.md
  infra/containers/devcontainer/Dockerfile
  infra/containers/devcontainer/README.md
  infra/troubleshooting/2025-10-11-nx-runtime-crash.md
  setup.sh
Labels: area:docs

chore: update biome configuration and add ignore patterns
  .biomeignore
  biome.json
  package.json
Labels: none

chore: update project configurations and enhance documentation validation
  .markdownlint-cli2.jsonc
  Next_Steps.md
  apps/desktop/project.json
  apps/desktop/src-tauri/tauri.conf.json
  docs/REPO_STRUCTURE.md
  package.json
  packages/design-system/.storybook/main.desktop.ts
  packages/shared-utils/project.json
  packages/shared-utils/src/__tests__/runtime-guards.test.ts
  packages/shared-utils/src/collision-prevention.ts
  packages/shared-utils/src/runtime-guards.ts
  scripts/validate-docs.sh
  tsconfig.json
Labels: area:docs, area:design-system, area:desktop

ci: restore typecheck failure visibility
  .github/workflows/pr-verification.yml
  Next_Steps.md
Labels: area:ci

ci: fail pr typecheck on nx errors
  .github/workflows/pr-verification.yml
  Next_Steps.md
Labels: area:ci

ci: enhance Nx caching and token management in workflows
  .github/workflows/ci.yml
  .github/workflows/pr-verification.yml
  .github/workflows/visual-tests.yml
  docs/devops/nx-remote-cache.md
  nx.json
Labels: area:docs, area:ci

chore(ci): gate markdown lint on docs changes
  .github/workflows/pr-verification.yml
  Next_Steps.md
Labels: area:ci

chore(ci): enable nx self-healing
  .github/workflows/ci.yml
  .github/workflows/pr-verification.yml
  .github/workflows/visual-tests.yml
  docs/devops/nx-remote-cache.md
Labels: area:docs, area:ci

chore(ci): refine markdown lint filter
  .github/workflows/pr-verification.yml
  Next_Steps.md
Labels: area:ci

chore(tools): add realtime apple junk watcher
  APPLE_CLEANING.md
  package.json
  pnpm-lock.yaml
  tools/apple-cleaner-watch.js
Labels: none

chore: expand docs lint coverage
  .github/workflows/pr-verification.yml
  Next_Steps.md
Labels: area:ci

chore: simplify markdown lint doc filter
  .github/workflows/pr-verification.yml
  Next_Steps.md
Labels: area:ci

refactor: streamline Nx self-healing run and fix application messages
  .github/workflows/ci.yml
  .github/workflows/pr-verification.yml
  .github/workflows/visual-tests.yml
Labels: area:ci

fix(shared-utils): prefix token css variables
  .gitignore
  Next_Steps.md
  packages/shared-utils/src/__tests__/token-utils.test.ts
  packages/shared-utils/src/index.ts
Labels: none

chore: update workflow files for consistency and maintenance
  .github/workflows/ci.yml
  .github/workflows/pr-verification.yml
  .github/workflows/visual-tests.yml
Labels: area:ci

fix(design-tokens): surface platform token overrides
  Next_Steps.md
  packages/design-tokens/README.md
  packages/design-tokens/src/index.test.ts
  packages/design-tokens/src/index.ts
Labels: area:tokens

fix(design-tokens): preserve react native dimension axes
  Next_Steps.md
  packages/design-tokens/libs/tokens/react-native/theme.ts
  packages/design-tokens/src/react-native-formatter.test.ts
  packages/design-tokens/style-dictionary.config.js
Labels: area:tokens

docs: expand sprint roadmap quality gates
  Next_Steps.md
  docs/SPRINT_PLAN.md
Labels: area:docs

chore: stabilize linting and tauri setup
  .env.example
  .gitignore
  apps/desktop/project.json
  apps/mobile/eslint.config.js
  apps/web/eslint.config.js
  package.json
  pnpm-lock.yaml
  toolchains/eslint.base.js
Labels: area:mobile, area:web, area:desktop

fix: correct .gitignore entry for environment variables
  .gitignore
Labels: none

ci: read nx cloud token from secret
  .github/workflows/ci.yml
  .github/workflows/pr-verification.yml
  .github/workflows/visual-tests.yml
  Next_Steps.md
  docs/devops/nx-remote-cache.md
Labels: area:docs, area:ci
